* {
    box-sizing: border-box;
}

:root {
    --background: #131222;
    --light: #2d2c4b;
    --accent: #009ee3;
    --accentHover: #0a8dc5;
    --accentActive: #0279ac;
    --textlight: #ffffff;
    --textghost: #9c9bbc;
    --plus: #289c24;
    --minus: #b91d25;
    --minusShadow: 0px 0px 5px 2px rgba(255, 0, 0, 0.35);
    --plusShadow: 0px 0px 5px 2px rgba(0, 255, 0, 0.35);
}

body {
    font-family: "Segoe UI";
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    color: var(--textlight);
}

input {
    outline: none;
    border: none;
    background-color: var(--light);
    padding: 8px;
    color: var(--textlight);
}

button {
    outline: none;
    border: none;
    background-color: var(--accent);
    border-radius: 6px;
    cursor: pointer;
    padding: 8px;
    color: var(--textlight);
    font-weight: bold;
}

button:hover {
    background-color: var(--accentHover);
}

button:active {
    background-color: var(--accentActive);
}


/* ========== ALLGEMEIN FERTIG ============= */

h3 {
    border-bottom: 1px solid var(--accent);
    padding-bottom: 3px;
}

.inputContainer {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.inputContainer>* {
    margin-bottom: 15px;
}

.inputContainer>div {
    display: flex;
    align-items: center;
}

.inputContainer>div>span {
    padding: 0 10px;
    background-color: var(--accent);
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
}

#betragInput {
    flex-grow: 1;
}

.listeContainer {
    width: 650px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

#liste {
    display: flex;
    flex-direction: column-reverse;
}

#liste>div {
    display: flex;
    margin-bottom: 20px;
}

#liste>div>div {
    background-color: var(--light);
    flex-grow: 1;
    padding: 6px 13px;
    color: var(--textghost);
    font-size: 0.9em;
}

#liste>div>span:first-child {
    background-color: var(--plus);
    width: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#liste>div>span:last-child {
    background-color: var(--plus);
    min-width: 110px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
}