    /*
		  input
		
		  color:#495057;
		  background-color:#fff;
		  border-color:#ced4da;  		  
		  border-color:#80bdff;(focus)
		  font-size:16px;
		
		  button
		
		  color:#fff;
		  background-color:#007bff;
		  border-color:#007bff;		  
		  
		  background-color:#0069d9;
		  border-color:#0062cc;
		*/
    
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 20px;
    }
    
    .form-group {
        margin-bottom: 6px;
    }
    
    label {
        display: inline-block;
        margin-bottom: 4px;
    }
    
    .form-control {
        width: 100%;
        padding: 7px 12px;
        border: 1px solid #ced4da;
        border-radius: 4px;
    }
    
    .form-control:focus {
        border-color: #80bdff;
        outline: 0;
    }
    
    .btn {
        padding: 6px 12px;
        border-radius: 4px;
        color: #fff;
        background-color: #007bff;
        border: 1px solid #007bff;
    }
    
    .btn:hover {
        background-color: #0069d9;
        border: 1px solid #0062cc;
    }
    
    .col-25 {
        float: left;
        width: 25%;
    }
    
    .col-75 {
        float: left;
        width: 75%;
    }
    
    .is-success {
        border-color: #28a745;
    }
    
    .is-error {
        border-color: #dc3545;
    }
    
    .is-warning {
        border-color: #ffc107;
    }
    
    .clearfix:after {
        content: "";
        display: block;
        clear: both;
    }
    
    #form2 {
        background: #f2f2f2;
        padding: 20px;
        border-radius: 5px;
    }