* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: "Segoe UI";
}

input {
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    padding: 8px 10px;
}

.inputs {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.inputs>* {
    margin-bottom: 10px;
}

.inputs>button {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: darkorange;
    color: white;
    font-weight: bold;
    padding: 8px;
}

.preis {
    display: flex;
    align-items: center;
}

.preis input {
    flex-grow: 1;
    border-radius: 8px 0 0 8px;
    border-right-width: 0;
}

.preis span {
    background-color: darkorange;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 9px;
    border-radius: 0 8px 8px 0;
}

.tabelle {
    margin-top: 20px;
    width: 600px;
}

.titel {
    display: flex;
}

.titel>* {
    text-align: center;
}

.titel>*:first-child {
    text-align: left;
}

.titel>*:last-child {
    text-align: right;
}

.linie {
    margin: 4px 0;
    border: 1px solid darkorange;
}

.liste {
    display: flex;
}

.liste>* {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.liste>*:first-child {
    text-align: left;
}

.liste>*:last-child {
    text-align: right;
}